/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}

/* FONTS: Google Font, Nice (Not Common), Mac Backup, Windows Backup, Common Backup, Generic Font */

body {
    font-family:'Spectral', 'Book Antiqua', 'Big Caslon', 'Palatino', 'Georgia', serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Signika', 'Century Gothic', 'Geneva', 'Franklin Gothic Medium', 'Verdana', sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "typeface typeface typeface . ."
        "footer footer footer footer footer"
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    font-size: 180%;
    text-align: center;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding-top: 3.5rem;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3.5rem 1rem 1rem 1rem;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    font-size: 1.75rem;
    padding: 3rem;
    margin: 0;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 4rem 2rem 3rem 4rem;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 1.15rem;
    padding: 2rem 4rem 0rem 0rem;
    margin: 0;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    font-size: 1.15rem;
    padding-right: 4rem;
    margin: 0;

}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 2rem;
    margin: 4rem 3rem 2rem 1rem;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    font-size: 1.15rem;
    text-shadow: .2rem .2rem .3rem #666;
    background: #5598b2; /* keep */
    padding: 2rem 1rem 3rem 4rem;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    font-size: 1.4rem;
    text-align: center;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */

@media screen and (max-width: 600px) {

  #container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
      "header header"
      "arial georgia"
      "pairing pairing"
      "bobwhite-quail bobwhite-quail"
      "readability readability"
      "line-length line-length"
      "helvetica helvetica"
      "typeface typeface"
      "footer footer"
  }

  h1 {
    padding: 1rem 3rem 0 3rem;

  }

  header img {
    display: none;
  }

  #tagline {
    padding: 0 3rem 1rem 3rem;
  }

  #arial {
    padding: 1.5rem .5rem 0 1.5rem;
  }

  #georgia {
    padding: 1.5rem 1.5rem 0 .5rem;
  }

  #pairing {
    padding: 2rem 1rem;
  }

  #bobwhite-quail {
    padding: 1rem;
  }

  #readability {
    padding: 0 1rem;
  }
  #line-length {
    padding: 0 1rem 1rem 1rem;
  }

  #helvetica {
    margin: 0;
  }

  #typeface {
    padding: 1rem;
  }

  footer {
    text-align: left;
    padding: 1rem;
  }
}
